/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/raleway-v28-latin-regular.woff2") format("woff2"), url("../fonts/raleway-v28-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/raleway-v28-latin-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

.main-wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.main-wrapper .main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper-content {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.ready-to-explore__text .ready__text-container .ready-button, .intro-form button, .header__list > button {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  border-radius: 6px;
  background-color: #43806C;
  border: none;
}

.ready-to-explore__text .ready__text-container > h2, .proudly-backed-by__content .proudly-backed-by__title, .for-employer__content .for-employer__title, .one-plan__give-block .give-text .weeks, .predict__text .no-one-can, .statistics__text .statistics__text-today h2, .intro__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #214E41;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  height: 90px;
  max-width: 100%;
}

.header__flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 35px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list a {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #214E41;
}
.header__list li {
  margin-right: 50px;
}
.header__list li:last-of-type {
  margin-right: 69px;
}
.header__list > button {
  margin-right: 29px;
  padding: 10px 14px;
}
.header__list > span, .header__list p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #214E41;
}
.header__list > span {
  margin-right: 41px;
}
.header__list > span::after {
  content: url(../img/login__arrow.svg);
  margin-left: 5px;
}

.intro {
  background: url(../img/intro-background.png) no-repeat bottom center fixed;
  background-size: cover;
  min-height: 720px;
  padding-top: 161px;
}

.intro__content {
  padding-top: 161px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.intro__title {
  max-width: 516px;
  margin-bottom: 40px;
}

.intro__sub-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #214E41;
  margin-bottom: 16px;
}

.intro-form input {
  padding: 20px 86px 20px 20px;
  border-radius: 6px 0px 0px 6px;
  border: none;
}
.intro-form input::-webkit-input-placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
}
.intro-form input::-moz-placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
}
.intro-form input:-ms-input-placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
}
.intro-form input::-ms-input-placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
}
.intro-form input::placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
}
.intro-form button {
  padding: 20px 35px 19px 35px;
  border-radius: 0px 6px 6px 0px;
  margin-bottom: 192px;
}

.above {
  position: relative;
  z-index: 99;
  margin-top: -89px;
  margin-bottom: 100px;
}

.intro__above-block {
  max-width: 1200px;
  margin: 0 auto;
}

.above-item__ico {
  margin-right: 10px;
}

.above-item__text > h4 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #214E41;
  margin-bottom: 7px;
}
.above-item__text > p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #214E41;
  margin-bottom: 7px;
}

.intro__above-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #FFFFFF;
  -webkit-box-shadow: 1px 1px 4px rgba(232, 230, 230, 0.6);
          box-shadow: 1px 1px 4px rgba(232, 230, 230, 0.6);
  border-radius: 6px;
  padding: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.above-block__item {
  -ms-flex-preferred-size: 29.6666666667%;
      flex-basis: 29.6666666667%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.statistics__content {
  margin-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.statistics__text {
  margin-right: 70px;
  padding-left: 60px;
  width: 50%;
}
.statistics__text .statistics__text-today h2 {
  margin-bottom: 34px;
}
.statistics__text .statistics__text-why {
  margin-top: 37px;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #43806C;
  text-transform: uppercase;
}
.statistics__text .statistics__text-health-plan {
  margin-bottom: 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
}
.statistics__text > a {
  margin-bottom: 33px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #214E41;
  width: 107px;
  height: 38px;
  text-align: center;
  border-bottom: 2px solid #214E41;
}

.statistics__score {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
}

.statistics__score-left-block {
  position: relative;
  width: 50%;
}
.statistics__score-left-block .statistics__score-percents {
  position: relative;
  margin-top: 133px;
}
.statistics__score-left-block .statistics__score-percents h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 90px;
  color: #214E41;
  margin-bottom: 10px;
}
.statistics__score-left-block .statistics__score-percents p {
  margin-top: 18px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  color: #214E41;
  margin-bottom: 42px;
}
.statistics__score-left-block .statistics__score-percents p span {
  border-bottom: 1px solid #214E41;
}
.statistics__score-left-block .statistics__score-percents .statistics__score-line {
  position: absolute;
  width: 510px;
  height: 2px;
  background-color: #F0A446;
  z-index: 999;
}

.statistics__score-right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding-left: 20px;
}
.statistics__score-right-block .statistics__deductible, .statistics__score-right-block .statistics__annual-max {
  width: 78px;
  background-color: #43806C;
}
.statistics__score-right-block .statistics__deductible {
  height: 150px;
  margin-right: 40px;
  margin-top: 170px;
}
.statistics__score-right-block .statistics__annual-max {
  height: 300px;
  margin-top: 20px;
}

.full-wrapper {
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 640px;
}

.benefits__left-block {
  background-color: #E3EEED;
  width: 50%;
  padding-top: 120px;
  padding-left: 120px;
  padding-right: 50px;
}

.brella-brings {
  margin-bottom: 29px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #214E41;
  letter-spacing: 0.05px;
  text-transform: uppercase;
}

.install-and-admin,
.eff-emrollment,
.claim-experience,
.payouts,
.support :not(:last-child) {
  margin-bottom: 18px;
}

.benefits__left-text .install-and-admin,
.customize,
.eff-emrollment,
.claim-experience,
.payouts,
.support {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  color: #43806C;
}

.install-and-admin {
  margin-top: 18px;
}

.text:hover {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #214E41;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.text:hover:after {
  content: url(../img/cust-benefits__arrow.svg);
  margin-left: 20px;
  display: inline;
}

.benefits__right-block {
  background-color: #214E41;
  width: 50%;
  padding-left: 7%;
  padding-right: 2%;
  padding-top: 165px;
}
.benefits__right-block .benefit__right-text {
  max-width: 500px;
}
.benefits__right-block .benefit__right-text p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: white;
}
.benefits__right-block .benefit__right-text p:not(:last-child) {
  margin-bottom: 34px;
}

@media (max-width: 768px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .benefits__right-block, .benefits__left-block {
    width: 100%;
  }

  .statistics__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .statistics__score, .statistics__text {
    width: 100%;
  }

  .statistics__text {
    margin: 0;
    padding: 0;
  }

  .intro__above-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro__above-content .above-block__item {
    margin-bottom: 14px;
  }
}
.one-plan {
  padding-top: 120px;
}

.one-plan__predict-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.predict__text {
  padding-right: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.predict__text .more-coverage {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #43806C;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.predict__text .no-one-can {
  margin-bottom: 34px;
}
.predict__text .medical-attention {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  letter-spacing: 0.02px;
}

.predict__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 15px;
}

.one-plan__stats-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 120px;
}
.one-plan__stats-block .plan-stats {
  width: 21.875%;
}
.one-plan__stats-block .plan-stats__text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  color: #214E41;
  letter-spacing: 0.02px;
}
.one-plan__stats-block .plan-stats__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #F0A446;
  margin-bottom: 13px;
}

.one-plan__give-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.one-plan__give-block .one-plan__gif {
  width: 42.8333333333%;
  text-align: center;
}
.one-plan__give-block .one-plan__gif .gif-phone {
  max-width: 100%;
  height: auto;
}
.one-plan__give-block .give-text {
  width: 57.1666666667%;
}
.one-plan__give-block .give-text .better-claims {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #43806C;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.one-plan__give-block .give-text .weeks {
  margin-bottom: 34px;
}
.one-plan__give-block .give-text .member-portal {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  letter-spacing: 0.02px;
  margin-bottom: 24px;
}
.one-plan__give-block .give-text .play-vidio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #214E41;
  border-bottom: 2px solid #214E41;
  letter-spacing: 0.02px;
}

.for-employers {
  background: url(../img/for-employers__background.jpg) no-repeat bottom center;
  background-size: cover;
  padding-top: 125px;
  padding-bottom: 100px;
  min-height: 522px;
}

.for-employer__content {
  max-width: 600px;
}
.for-employer__content .for-employer__sup-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #43806C;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.for-employer__content .for-employer__title {
  margin-bottom: 34px;
}
.for-employer__content .for-employer__sub-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  letter-spacing: 0.02px;
  margin-bottom: 24px;
}
.for-employer__content .for-employer__link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #214E41;
  border-bottom: 2px solid #214E41;
  padding-bottom: 4px;
}

.proudly-backed-by {
  padding-top: 120px;
}

.proudly-backed-by__content .proudly-backed-by__title {
  text-align: center;
  margin-bottom: 110px;
}
.proudly-backed-by__content .proudly-backed-by__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.proudly-backed-by__content .list__right-arrow, .proudly-backed-by__content .list__left-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-box::after {
  content: "";
  display: block;
  width: 90%;
  height: 1px;
  background-color: rgba(199, 199, 199, 0.37);
  margin: 0 auto;
  margin-top: 125px;
  margin-bottom: 120px;
}

.proudly-backed-by__cards {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 120px;
}
.proudly-backed-by__cards .proudly-backed-by__cards-item {
  width: 29.5833333333%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.proudly-backed-by__cards .proudly-backed-by__cards-item img {
  margin-bottom: 20px;
}
.proudly-backed-by__cards .proudly-backed-by__cards-item .item__signature-img {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  color: #43806C;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.proudly-backed-by__cards .proudly-backed-by__cards-item .item__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #214E41;
}

.ready-to-explore__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ready-to-explore__pic, .ready-to-explore__text {
  width: 50%;
}

.ready-to-explore__pic img {
  width: 100%;
  height: auto;
}

.ready-to-explore__text {
  background-color: #E3EEED;
  padding-left: 120px;
  padding-top: 144px;
}
.ready-to-explore__text .ready__text-container > h2:first-child {
  margin-bottom: 46px;
}
.ready-to-explore__text .ready__text-container .rady-talk {
  margin-bottom: 60px;
}
.ready-to-explore__text .ready__text-container .ready-button {
  padding: 13px 24px;
}

.footer {
  background-color: #214E41;
  padding-top: 100px;
  padding-bottom: 50px;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo-and-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__logo-and-nav .footer__logo-box {
  margin-right: 105px;
}
.footer__logo-and-nav .join-menu-box {
  margin-right: 115px;
}
.footer__logo-and-nav .footer__join-list > li:first-child, .footer__logo-and-nav .footer__company-list > li:first-child {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  color: white;
  letter-spacing: 0.02px;
  text-transform: uppercase;
}
.footer__logo-and-nav .footer__join-list > li:not(:last-child), .footer__logo-and-nav .footer__company-list > li:not(:last-child) {
  margin-bottom: 15px;
}
.footer__logo-and-nav .footer__join-list > li a, .footer__logo-and-nav .footer__company-list > li a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: white;
}

.footer__social {
  width: 355px;
}
.footer__social .footer__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__social .footer__social-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: white;
  letter-spacing: 0.02px;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.footer__social .footer__social-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: white;
  letter-spacing: 0.02px;
  margin-bottom: 16px;
}
.footer__social .footer__social-form input {
  background-color: transparent;
  width: 302px;
  height: 52px;
  border: 1px solid #FFFFFF;
  color: white;
  padding-left: 15px;
}
.footer__social .footer__social-form input::-webkit-input-placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: white;
  letter-spacing: 0.02px;
  padding-top: 15px;
}
.footer__social .footer__social-form input::-moz-placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: white;
  letter-spacing: 0.02px;
  padding-top: 15px;
}
.footer__social .footer__social-form input:-ms-input-placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: white;
  letter-spacing: 0.02px;
  padding-top: 15px;
}
.footer__social .footer__social-form input::-ms-input-placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: white;
  letter-spacing: 0.02px;
  padding-top: 15px;
}
.footer__social .footer__social-form input::placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: white;
  letter-spacing: 0.02px;
  padding-top: 15px;
}
.footer__social .footer__social-form button {
  background-color: white;
  border: none;
  height: 52px;
  width: 53px;
}
.footer__social .footer__form-box {
  margin-bottom: 36px;
}
.footer__social .footer__social-links .social-ico:not(:last-child) {
  margin-right: 25px;
}

.footer__pseudo-line::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  margin-top: 71px;
  margin-bottom: 73px;
}

@media (max-width: 768px) {
  .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__logo-and-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__logo-and-nav .footer__logo-box {
    width: 100%;
    margin-bottom: 25px;
  }
  .footer__logo-and-nav .join-menu-box, .footer__logo-and-nav .company-menu-box {
    width: 50%;
    margin: 0;
    margin-bottom: 25px;
  }

  .footer__social {
    width: 100%;
  }
}
.footer__text .footer__info {
  margin-bottom: 90px;
}
.footer__text .footer__info p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: white;
  letter-spacing: 0.02px;
}
.footer__text .footer__info p:not(:last-child) {
  margin-bottom: 20px;
}
.footer__text .footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__text .footer__copyright .copyright-text, .footer__text .footer__copyright .privacy-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}