/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/raleway-v28-latin-regular.woff2") format("woff2"), url("../fonts/raleway-v28-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/raleway-v28-latin-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

.main-wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.main-wrapper .main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper-content {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.intro-form button, .header__list > button {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  border-radius: 6px;
  background-color: #43806C;
  border: none;
}

.statistics__text h2, .intro__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #214E41;
}

.header {
  height: 90px;
  max-width: 100%;
}

.header__flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 35px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list a {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #214E41;
}
.header__list li {
  margin-right: 50px;
}
.header__list li:last-of-type {
  margin-right: 69px;
}
.header__list > button {
  margin-right: 29px;
  padding: 10px 14px;
}
.header__list > span, .header__list p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #214E41;
}
.header__list > span {
  margin-right: 41px;
}
.header__list > span::after {
  content: url(../img/login__arrow.svg);
  margin-left: 5px;
}

.intro {
  background-image: url(../img/intro-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 720px;
  padding-top: 161px;
  position: relative;
}

.intro__content {
  padding-top: 161px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.intro__title {
  max-width: 516px;
  margin-bottom: 40px;
}

.intro__sub-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #214E41;
  margin-bottom: 16px;
}

.intro-form input {
  padding: 20px 86px 20px 20px;
  border-radius: 6px 0px 0px 6px;
  border: none;
}
.intro-form input::-webkit-input-placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
}
.intro-form input::-moz-placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
}
.intro-form input:-ms-input-placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
}
.intro-form input::-ms-input-placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
}
.intro-form input::placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
}
.intro-form button {
  padding: 20px 35px 19px 35px;
  border-radius: 0px 6px 6px 0px;
  margin-bottom: 192px;
}

.above {
  position: relative;
  z-index: 99;
  margin-top: -89px;
  margin-bottom: 100px;
}

.intro__above-block {
  max-width: 1200px;
  margin: 0 auto;
}

.above-item__ico {
  margin-right: 10px;
}

.above-item__text > h4 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #214E41;
  margin-bottom: 7px;
}
.above-item__text > p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #214E41;
  margin-bottom: 7px;
}

.intro__above-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #FFFFFF;
  -webkit-box-shadow: 1px 1px 4px rgba(232, 230, 230, 0.6);
          box-shadow: 1px 1px 4px rgba(232, 230, 230, 0.6);
  border-radius: 6px;
  padding: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.above-block__item {
  -ms-flex-preferred-size: 29.6666666667%;
      flex-basis: 29.6666666667%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.statistics__content {
  margin-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 500px;
}

.statistics__text {
  margin-right: 70px;
  padding-left: 60px;
  width: 50%;
}
.statistics__text h2 {
  margin-bottom: 34px;
}
.statistics__text .statistics__text-why {
  margin-top: 37px;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #43806C;
  text-transform: uppercase;
}
.statistics__text .statistics__text-health-plan {
  margin-bottom: 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
}
.statistics__text > span {
  margin-bottom: 33px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #214E41;
  width: 107px;
  height: 38px;
  text-align: center;
  border-bottom: 2px solid #214E41;
}

.statistics__score {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
}

.statistics__score-left-block {
  position: relative;
  width: 50%;
}
.statistics__score-left-block .statistics__score-percents {
  position: relative;
  margin-top: 133px;
}
.statistics__score-left-block .statistics__score-percents h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 90px;
  color: #214E41;
  margin-bottom: 10px;
}
.statistics__score-left-block .statistics__score-percents p {
  margin-top: 18px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  color: #214E41;
  margin-bottom: 42px;
}
.statistics__score-left-block .statistics__score-percents p span {
  border-bottom: 1px solid #214E41;
}
.statistics__score-left-block .statistics__score-percents .statistics__score-line {
  position: absolute;
  width: 510px;
  height: 2px;
  background-color: #F0A446;
  z-index: 999;
}

.statistics__score-right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding-left: 20px;
}
.statistics__score-right-block .statistics__deductible, .statistics__score-right-block .statistics__annual-max {
  width: 78px;
  background-color: #43806C;
}
.statistics__score-right-block .statistics__deductible {
  height: 150px;
  margin-right: 40px;
  margin-top: 170px;
}
.statistics__score-right-block .statistics__annual-max {
  height: 300px;
  margin-top: 20px;
}

.full-wrapper {
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 640px;
}

.benefits__left-block {
  background-color: #E3EEED;
  width: 50%;
  padding-top: 120px;
  padding-left: 120px;
}

.benefits__right-block {
  background-color: #214E41;
  width: 50%;
}

.brella-brings {
  margin-bottom: 29px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #214E41;
  letter-spacing: 0.05px;
  text-transform: uppercase;
}

.install-and-admin,
.eff-emrollment,
.claim-experience,
.payouts,
.support :not(:last-child) {
  margin-bottom: 18px;
}

.install-and-admin,
.eff-emrollment,
.claim-experience,
.payouts,
.support {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  color: #43806C;
}

.install-and-admin {
  margin-top: 18px;
}

.customize {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: #214E41;
}
.customize:after {
  content: url(../img/cust-benefits__arrow.svg);
  margin-left: 20px;
}