/* roboto-regular - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		 url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		 url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* raleway-regular - latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		 url('../fonts/raleway-v28-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/raleway-v28-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* raleway-700 - latin */
  @font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		 url('../fonts/raleway-v28-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/raleway-v28-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  html {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	height: 100%;
  }
  
  *, *::before, *::after {
	-webkit-box-sizing: inherit;
			box-sizing: inherit;
  }
  
  html{
	box-sizing: border-box;
	height: 100%;
}

.main-wrapper{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	.main{
		flex: 1 1 auto;
	}
}

.wrapper-content{
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

%button-text-style{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
	border-radius: 6px;
	background-color: #43806C;
	border:  none;
}

%title-section-style{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 46px;
	color: #214E41;
}

@mixin raleway-font($fw,$fs,$lh,$clr) {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: $fw;
	font-size: $fs;
	line-height: $lh;
	color: $clr;
}
@mixin roboto-font($fw,$fs,$lh,$clr) {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: $fw;
	font-size: $fs;
	line-height: $lh;
	color: $clr;
}

a{
	text-decoration: none;
	color: inherit;
}



// header style start

.header{
	height: 90px;
	max-width: 100%;
}

.header__flex-box{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 35px;
}

.header__list{
	display: flex;
	justify-content: center;
	align-items: center;
	a{
		text-decoration: none;
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 20px;
		color: #214E41;
	}

	li{
		margin-right: 50px;
	}
	li:last-of-type{
		margin-right: 69px;
	}
	>button{
		@extend %button-text-style;
		margin-right: 29px;
		padding: 10px 14px;
	}
	>span,p{
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 700;
		font-size: 13px;
		line-height: 20px;
		color: #214E41;
	}
	>span{
		margin-right: 41px;
	}
	>span::after{
		content: url(../img/login__arrow.svg);
		margin-left: 5px;
	}
}

// header style end


// intro style start

.intro{
	background: url(../img/intro-background.png) no-repeat bottom center fixed;
	background-size: cover;
	min-height: 720px;
	padding-top: 161px;
	
}

.intro__content{
	padding-top: 161px;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.intro__title{
	max-width: 516px;
	margin-bottom: 40px;
	@extend %title-section-style;
}

.intro__sub-title{
	@include raleway-font(700,16px,24px,#214E41);
	margin-bottom: 16px;
}

.intro-form{
	input{
		padding: 20px 86px 20px 20px;
		border-radius: 6px 0px 0px 6px;
		border: none;
	}
	input::placeholder{
		@include raleway-font(700,14px ,20px,#222222 )
	}
	button{
		@extend %button-text-style;
		padding: 20px 35px 19px 35px;
		border-radius: 0px 6px 6px 0px;
		margin-bottom: 192px;
	}
}



.above{
	position: relative;
	z-index: 99;
	margin-top:-89px;
	margin-bottom: 100px;
}

.intro__above-block{
	max-width: 1200px;
	margin: 0 auto;
}

.above-item__ico{
	margin-right: 10px;
}

.above-item__text{
	>h4{
		@include raleway-font(400,16px,24px,#214E41);
		margin-bottom: 7px;
	}
	>p{
		@include raleway-font(400,14px,20px,#214E41);
		margin-bottom: 7px;
	}
}

.intro__above-content{
	display: flex;
	flex-direction: row;
	background: #FFFFFF;
	box-shadow: 1px 1px 4px rgba(232, 230, 230, 0.6);
	border-radius: 6px;
	padding: 50px;
	justify-content: space-between;
}

.above-block__item{
	flex-basis: 356px / 1200px * 100%;
	display: flex;
}

// intro style end




// statistics style start

.statistics__content{
	margin-bottom: 120px;
	display: flex;

}
.statistics__text{
	margin-right: 70px;
	padding-left: 60px;
	width: 50%;

	.statistics__text-today h2{
		@extend %title-section-style;
		margin-bottom: 34px;
	}

	.statistics__text-why{
		margin-top: 37px;
		margin-bottom: 20px;
		@include raleway-font(400,13px,20px,#43806C);
		text-transform: uppercase;
	}

	.statistics__text-health-plan{
		margin-bottom: 24px;
		@include raleway-font(400,18px,30px,#757575)
	}
	>a{
		margin-bottom: 33px;
		@include raleway-font(700,18px,18px,#214E41);
		width:107px;
		height: 38px;
		text-align: center;
		border-bottom: 2px solid #214E41;
	}
}

.statistics__score{
	padding-left: 10px;
	display: flex;
	flex-wrap: wrap;
	width: 50%;
}
.statistics__score-left-block{
	position: relative;
	width: 50%;
	.statistics__score-percents{
		position: relative;
		margin-top: 133px;
		h3{
			@include roboto-font(700,70px,90px,#214E41);
			margin-bottom: 10px;
		}
		p{
			margin-top: 18px;
			@include raleway-font(700,13px,22px,#214E41);
			margin-bottom: 42px;
			span{
				border-bottom: 1px solid #214E41;
			}
		}
		.statistics__score-line{
			position: absolute;
			width: 510px;
			height: 2px;
			background-color: #F0A446;
			z-index: 999;
		}
	}
}

.statistics__score-right-block{
	display: flex;
	width: 50%;
	padding-left: 20px;
	.statistics__deductible,.statistics__annual-max{
		width: 78px;
		background-color: #43806C;
	}
	.statistics__deductible{
		height: 150px;
		margin-right: 40px;
		margin-top: 170px;
	}
	.statistics__annual-max{
		height: 300px;
		margin-top: 20px;
	}
}



// statistics style end



// bennefits style start



.full-wrapper{
	max-width: 1430px;
	padding: 0 15px;
	margin: 0 auto;
}

.benefits{
	display: flex;
	min-height: 640px;
}

.benefits__left-block{
	background-color: #E3EEED;
	width: 50%;
	padding-top: 120px;
	padding-left: 120px;
	padding-right: 50px;
}
.brella-brings{
	margin-bottom: 29px;
	@include raleway-font(400,13px,20px,#214E41);
	letter-spacing: 0.05px;
	text-transform: uppercase;
}

.install-and-admin,
.eff-emrollment,
.claim-experience,
.payouts,
.support 
:not(:last-child){
	margin-bottom: 18px;
}

.benefits__left-text .install-and-admin,
.customize,
.eff-emrollment,
.claim-experience,
.payouts,
.support {
	@include roboto-font(400,32px,42px,#43806C);
}

.install-and-admin{
	margin-top: 18px;
}


.text:hover{
	@include roboto-font(700,32px,42px,#214E41);
	transition-duration: .2s;
	transition-timing-function:ease;
	&:after{
		content: url(../img/cust-benefits__arrow.svg);
		margin-left: 20px;
		display: inline;
	}
}


.benefits__right-block{
	background-color: #214E41;
	width: 50%;
	padding-left: 7%;
	padding-right: 2%;
	padding-top: 165px;

	.benefit__right-text{
		max-width: 500px;
		p{
			@include raleway-font(400,20px,34px,white);
			&:not(:last-child){
			margin-bottom: 34px;
			}
		}
	}
}

@media(max-width:768px){
	.benefits{
		flex-direction: column;
	}
	.benefits__right-block,.benefits__left-block{
		width: 100%;
	}
	.statistics__content{
		flex-direction: column;
	}
	.statistics__score,.statistics__text{
		width: 100%;
	}
	.statistics__text{
		margin: 0;
		padding: 0;
	}
	.intro__above-content{
		flex-direction: column;
		.above-block__item{
			margin-bottom: 14px;
		}
	}

}

// benefits style end



// one plan style start

.one-plan{
	padding-top: 120px;
}

.one-plan__predict-block{
	display: flex;
	margin-bottom: 60px;
}

.predict__text{
	padding-right: 15px;
	flex: 0 1 50%;
	.more-coverage{
		@include raleway-font(700,13px,20px,#43806C);
		letter-spacing: 0.05px;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.no-one-can{
		@extend %title-section-style;
		margin-bottom: 34px;
	}

	.medical-attention{
		@include raleway-font(400,18px,30px,#757575);
		letter-spacing: 0.02px;
	}
}

.predict__img{
	flex: 1 0 50%;
	display: flex;
	justify-content: flex-end;
	padding-left: 15px;
}

.one-plan__stats-block{
	display: flex;
	justify-content: space-between;
	margin-bottom: 120px;
	.plan-stats{
		width: 262.5 / 1200 * 100%;
	}

	.plan-stats__text{
		@include raleway-font(700,13px,22px,#214E41);
		letter-spacing: 0.02px;
	}

	.plan-stats__title{
		@include roboto-font(700,60px,78px,#F0A446);
		margin-bottom: 13px;
	}
}

.one-plan__give-block{
	display: flex;

	.one-plan__gif{
		width: 514px / 1200px * 100%;
		text-align: center;
		.gif-phone{
			max-width: 100%;
			height: auto;
		}
	}
	.give-text{
		width: 686px / 1200px * 100%;

		.better-claims{
			@include roboto-font(700,13px,20px,#43806C);
			letter-spacing: 0.05px;
			text-transform: uppercase;
			margin-bottom: 20px;
		}

		.weeks{
			@extend %title-section-style;
			margin-bottom: 34px;
		}

		.member-portal{
			@include raleway-font(400,18px,30px,#757575);
			letter-spacing: 0.02px;
			margin-bottom: 24px;
		}


		.play-vidio{
			@include raleway-font(700,18px,18px,#214E41);
			border-bottom:2px solid #214E41;
			letter-spacing: 0.02px;
		}
	}
}

// one plan style end



// for employers style start

.for-employers{
	background: url(../img/for-employers__background.jpg) no-repeat bottom center;
	background-size: cover;
	padding-top: 125px;
	padding-bottom: 100px;
	min-height: 522px;
}

.for-employer__content{

	max-width: 600px;

	.for-employer__sup-title {
		@include raleway-font(700,13px,20px,#43806C);
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.for-employer__title {
		@extend %title-section-style;
		margin-bottom: 34px;
	}

	.for-employer__sub-title {
		@include raleway-font(400,18px,30px,#757575);
		letter-spacing: 0.02px;
		margin-bottom: 24px;
	}

	.for-employer__link {
		@include raleway-font(700,18px,18px,#214E41);
		border-bottom: 2px solid #214E41;
		padding-bottom: 4px;
	}
}

// for employers style end



// proudly-backed-by style start

.proudly-backed-by{
	padding-top: 120px;
}

.proudly-backed-by__content{

	.proudly-backed-by__title{
		@extend %title-section-style;
		text-align: center;
		margin-bottom: 110px;
	}

	.proudly-backed-by__list{
		display: flex;
		justify-content: space-between;
	}

	.list__right-arrow,.list__left-arrow{
		display: flex;
		justify-content: center;
		align-items: center;
	}


}

.list-box::after{
	content: '';
	display: block;
	width:90%;
	height: 1px;
	background-color: rgba(199, 199, 199, 0.37);
	margin: 0 auto;
	margin-top: 125px;
	margin-bottom: 120px;
}

.proudly-backed-by__cards{
	display: flex;

	.proudly-backed-by__cards-item{
		width: 33.333%;
		justify-content: space-between;
	}
}

// proudly-backed-by style end 