/* roboto-regular - latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		 url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin */
  @font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		 url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* raleway-regular - latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		 url('../fonts/raleway-v28-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/raleway-v28-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* raleway-700 - latin */
  @font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		 url('../fonts/raleway-v28-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/raleway-v28-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  html {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	height: 100%;
  }
  
  *, *::before, *::after {
	-webkit-box-sizing: inherit;
			box-sizing: inherit;
  }
  
  html{
	box-sizing: border-box;
	height: 100%;
}

.main-wrapper{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	.main{
		flex: 1 1 auto;
	}
}

.wrapper-content{
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

%button-text-style{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
	border-radius: 6px;
	background-color: #43806C;
	border:  none;
}

%title-section-style{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 46px;
	color: #214E41;
}

@mixin raleway-font($fw,$fs,$lh,$clr) {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: $fw;
	font-size: $fs;
	line-height: $lh;
	color: $clr;
}
@mixin roboto-font($fw,$fs,$lh,$clr) {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: $fw;
	font-size: $fs;
	line-height: $lh;
	color: $clr;
}

a{
	text-decoration: none;
	color: inherit;
}



// header style start

.header{
	height: 90px;
	width: 100%;
}

.burger-container{
	display: none;
	width: 40px;
	height: 24px;
	cursor: pointer;
}

.line1, .line2, .line3{
	width: 36px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
	background: #a9a9a9;
}

@media(max-width:1075px){
	.header__menu{
		display: none;
	}

	.burger-container{
		display: block;
	}
}


.header__flex-box{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 35px;
}

.header__list{
	display: flex;
	justify-content: center;
	align-items: center;
	a{
		text-decoration: none;
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 20px;
		color: #214E41;
	}

	a:hover{
		opacity: 0.65;
		transition: 0.7s;
	}

	li{
		margin-right: 50px;
	}
	li:last-of-type{
		margin-right: 69px;
	}
	>button{
		@extend %button-text-style;
		margin-right: 29px;
		padding: 10px 14px;
		transition: 0.5s;
	}


	>button:hover{
		background-color: #23654f;
	}

	>button:active{
		background-color: #0c4230;
		transition: 0.2s;
	}
	>span,p{
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 700;
		font-size: 13px;
		line-height: 20px;
		color: #214E41;
	}
	>span{
		margin-right: 41px;
	}
	>span::after{
		content: url(../img/login__arrow.svg);
		margin-left: 5px;
	}
}

// header style end


// intro style start

.intro{
	background: url(../img/intro-background.png) no-repeat bottom center fixed;
	background-size: cover;
	min-height: 720px;
	padding-top: 161px;
	
}

.intro__content{
	padding-top: 161px;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.intro__title{
	max-width: 516px;
	margin-bottom: 40px;
	@extend %title-section-style;
}

.intro__sub-title{
	@include raleway-font(700,16px,24px,#214E41);
	margin-bottom: 16px;
}

.intro-form{
	input{
		padding: 20px 86px 20px 20px;
		border-radius: 6px 0px 0px 6px;
		border: none;
	}
	input::placeholder{
		@include raleway-font(700,14px ,20px,#222222 )
	}
	button{
		@extend %button-text-style;
		padding: 20px 35px 19px 35px;
		border-radius: 0px 6px 6px 0px;
		margin-bottom: 192px;
		transition: 0.7s;
	}
	button:hover{
		background-color: #23654f;
	}

	button:active{
		background-color: #0c4230;
		transition: 0.2s;
	}
}

@media(max-width:460px){

	.intro-form{
		input{
			margin-bottom: 10px;
			border-radius: 6px;
		}

		button{
			border-radius: 6px;
		}
	}
}

@media(max-width:420px){
	.intro__title{
		font-size: 26px;
	}
}



// intro style end



// above style start

.above{
	position: relative;
	z-index: 99;
	margin-top:-89px;
	margin-bottom: 100px;
}

.intro__above-block{
	max-width: 1200px;
	margin: 0 auto;
}

.above-item__ico{
	margin-right: 10px;
}

.above-item__text{
	>h4{
		@include raleway-font(400,16px,24px,#214E41);
		margin-bottom: 7px;
	}
	>p{
		@include raleway-font(400,14px,20px,#214E41);
		margin-bottom: 7px;
	}
}

.intro__above-content{
	display: flex;
	flex-direction: row;
	background: #FFFFFF;
	box-shadow: 1px 1px 4px rgba(232, 230, 230, 0.6);
	border-radius: 6px;
	padding: 50px;
	justify-content: space-between;
}

.above-block__item{
	flex-basis: 356px / 1200px * 100%;
	display: flex;
}

@media(max-width:768px){
	.intro__above-content{
		padding: 35px;
	}
	.above{
		margin-bottom: 75px;
	}
	.intro__above-content{
		flex-direction: column;
		.above-block__item{
			margin-bottom: 30px;
		}
	}
}

@media(max-width:425px){
	.intro__above-content{
		.above-block__item{
			margin-bottom: 30px;
		}
	}
}

// above style end



// statistics style start

.statistics__content{
	margin-bottom: 120px;
	display: flex;

}
.statistics__text{
	margin-right: 70px;
	padding-left: 60px;
	width: 50%;

	.statistics__text-today h2{
		@extend %title-section-style;
		margin-bottom: 34px;
	}

	.statistics__text-why{
		margin-top: 37px;
		margin-bottom: 20px;
		@include raleway-font(400,13px,20px,#43806C);
		text-transform: uppercase;
	}

	.statistics__text-health-plan{
		margin-bottom: 24px;
		@include raleway-font(400,18px,30px,#757575)
	}
	>a{
		margin-bottom: 33px;
		@include raleway-font(700,18px,18px,#214E41);
		width:107px;
		height: 38px;
		text-align: center;
		border-bottom: 2px solid #214E41;
		transition: 0.6s;
	}
	>a:hover{
		color: #048a5e;
		border-bottom: 2px solid #048a5e;
	}
}

.statistics__score{
	padding-left: 10px;
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	.statistics_averages{
		@include raleway-font(400,13px,22px,#757575);
		margin-left: auto;
		padding-right: 25px;
	}
}

.statistics__score-text{
	display: flex;
	align-items: flex-end;
}
.statistics__score-percents{
	width: 50%;
	position: relative;
	padding-bottom: 40px;
	h3{
		@include roboto-font(700,70px,90px,#214E41);
		margin-bottom: 10px;
	}
	p{
		margin-top: 18px;
		@include raleway-font(700,13px,22px,#214E41);
		span{
			border-bottom: 1px solid #214E41;
			}
	}
	.statistics__score-line{
		position: absolute;
		width: 610px;
		height: 2px;
		background-color: #F0A446;
		z-index: 999;
	}
}

.statistics__score-graph{
	display: flex;
	width: 50%;
	.deduc-graph,.annual-graph{
		background-color: #43806C;
	}

	.statistics__deductible,.statistics__annual-max{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		p:first-of-type{
			@include raleway-font(400,13px ,22px,#214E41)
		}

		p:last-of-type{
			@include raleway-font(700,13px,22px,#214E41)
		}
	}
	.statistics__deductible{
		margin-right: 40px;
		text-align: center;
		.deduc-graph{
			width: 78px;
			height: 150px;
		}
	}

	.statistics__annual-max{
		text-align: center;
		.annual-graph{
			width: 78px;
			height: 300px;
		}
	}
}



@media(max-width:768px){
	.statistics__score{
		margin-top:50px;
	}

	.statistics__content{
		flex-direction: column;
	}
	.statistics__score,.statistics__text{
		width: 100%;
	}
	.statistics__text{
		margin: 0;
		padding: 0;
	}
	.statistics__score-percents{
		h3{
			font-size: 55px;
		}
	}
}

@media (max-width:376px){

	.statistics__score-graph{
		.statistics__deductible{
			margin-right: 20px;
			.deduc-graph{
				width: 50px;
			}
		}
	
		.statistics__annual-max{
			.annual-graph{
				width: 50px;
			}
		}
	}
}

@media (max-width:376px) and (min-width:320px){

	.statistics__score-graph{
		.statistics__deductible{
			margin-right: 20px;
			.deduc-graph{
				width: 50px;
			}
		}
	
		.statistics__annual-max{
			.annual-graph{
				width: 50px;
			}
		}

		.statistics__deductible,.statistics__annual-max{
			p:last-of-type{
				font-size: 10px;
			}
		}
	}
}

// statistics style end



// bennefits style start

.benefits{
	display: flex;
	min-height: 640px;
}

.benefits__left-block{
	background-color: #E3EEED;
	width: 50%;
	padding-top: 120px;
	padding-left: 120px;
	padding-right: 50px;
}
.brella-brings{
	margin-bottom: 29px;
	@include raleway-font(400,13px,20px,#214E41);
	letter-spacing: 0.05px;
	text-transform: uppercase;
}

.install-and-admin,
.eff-emrollment,
.claim-experience,
.payouts,
.support 
:not(:last-child){
	margin-bottom: 18px;
}

.benefits__left-text a{
	@include roboto-font(400,32px,42px,#43806C);
}

.install-and-admin{
	margin-top: 18px;
}


.text:hover{
	@include roboto-font(700,32px,42px,#214E41);
	transition-duration: .2s;
	transition-timing-function:ease;
	&:after{
		content: url(../img/cust-benefits__arrow.svg);
		margin-left: 20px;
		display: inline;
	}
}


.benefits__right-block{
	background-color: #214E41;
	width: 50%;
	padding-left: 7%;
	padding-right: 2%;
	padding-top: 165px;

	.benefit__right-text{
		max-width: 500px;
		p{
			@include raleway-font(400,20px,34px,white);
			&:not(:last-child){
			margin-bottom: 34px;
			}
		}
	}
}


@media(max-width:1024px){

	.benefits__left-block{
		padding-left: 50px;
		padding-top: 120px;
		padding-right: 20px;
	}
}

@media(max-width:991px){

	.benefits__left-block{
		padding-left: 50px;
		padding-top: 120px;
		padding-right: 20px;
	}
}
@media(max-width:768px){
	.benefits{
		flex-direction: column;
	}
	.benefits__right-block,.benefits__left-block{
		width: 100%;
	}

	.benefits__left-block{
		text-align: center;
		padding: 0;
		padding-bottom: 30px;
		padding-top: 15px;
		
	}

	.benefits__right-block{
		padding: 0;
		padding: 25px 15px 30px 25px;
	}
}

@media(max-width:375px){
	.benefits__left-text a{
		font-size: 25px;
	}
}


// benefits style end



// one plan style start

.one-plan{
	padding-top: 120px;
}

.one-plan__predict-block{
	display: flex;
	margin-bottom: 60px;
}

.predict__text{
	padding-right: 15px;
	flex: 0 1 50%;
	.more-coverage{
		@include raleway-font(700,13px,20px,#43806C);
		letter-spacing: 0.05px;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.no-one-can{
		@extend %title-section-style;
		margin-bottom: 34px;
	}

	.medical-attention{
		@include raleway-font(400,18px,30px,#757575);
		letter-spacing: 0.02px;
	}
}

.predict__img{
	flex: 1 0 50%;
	display: flex;
	justify-content: flex-end;
	padding-left: 15px;
	.predict__img-friends{
		max-width: 100%;
		height: auto;
	}
}

.one-plan__stats-block{
	display: flex;
	justify-content: space-between;
	margin-bottom: 120px;
	.plan-stats{
		width: 262.5 / 1200 * 100%;
	}

	.plan-stats__text{
		@include raleway-font(700,13px,22px,#214E41);
		letter-spacing: 0.02px;
	}

	.plan-stats__title{
		@include roboto-font(700,60px,78px,#F0A446);
		margin-bottom: 13px;
	}
}

.one-plan__give-block{
	display: flex;

	.one-plan__gif{
		width: 514px / 1200px * 100%;
		text-align: center;
		.gif-phone{
			max-width: 100%;
			height: auto;
		}
	}
	.give-text{
		width: 686px / 1200px * 100%;
		padding-bottom: 20px;

		.better-claims{
			@include roboto-font(700,13px,20px,#43806C);
			letter-spacing: 0.05px;
			text-transform: uppercase;
			margin-bottom: 20px;
		}

		.weeks{
			@extend %title-section-style;
			margin-bottom: 34px;
		}

		.member-portal{
			@include raleway-font(400,18px,30px,#757575);
			letter-spacing: 0.02px;
			margin-bottom: 24px;
		}


		.play-vidio{
			@include raleway-font(700,18px,18px,#214E41);
			border-bottom:2px solid #214E41;
			letter-spacing: 0.02px;
			transition: 0.6s;
		}

		.play-vidio:hover{
			color: #048a5e;
			border-bottom: 2px solid #048a5e;
		}
	}
}

@media(max-width:768px){

	.one-plan{
		padding-top: 80px;
	}
	.one-plan__predict-block{
		flex-direction: column;
	}

	.predict__text{
		width: 100%;
		margin-bottom: 35px;
		text-align:center;
	}

	.predict__img{
		display: flex;
		justify-content: center;
	}

	.one-plan__stats-block{
		flex-wrap: wrap;
		margin-bottom: 80px;
		.plan-stats{
			width: 45%;
			margin-bottom: 30px;
		}
		.plan-stats__title{
			margin-bottom: 10px;
		}
	}

	.one-plan__give-block{
		flex-direction: column;
		.one-plan__gif,.give-text{
			width: 100%;
		}

		.one-plan__gif{
			background-color: #c3f9ea;
			margin-bottom: 25px;
		}
		.give-text{
			padding: 0;
			margin-bottom: 30px;
		}
	}
	
}

@media (max-width:320px){
	.one-plan__give-block{
		.one-plan__gif{
			background-color: white;
		}
	}
}

// one plan style end



// for employers style start

.for-employers{
	background: url(../img/for-employers__background.jpg) no-repeat bottom center;
	background-size: cover;
	padding-top: 125px;
	padding-bottom: 100px;
	min-height: 522px;
}

.for-employer__content{

	max-width: 600px;

	.for-employer__sup-title {
		@include raleway-font(700,13px,20px,#43806C);
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.for-employer__title {
		@extend %title-section-style;
		margin-bottom: 34px;
	}

	.for-employer__sub-title {
		@include raleway-font(400,18px,30px,#757575);
		letter-spacing: 0.02px;
		margin-bottom: 24px;
	}

	.for-employer__link {
		@include raleway-font(700,18px,18px,#214E41);
		border-bottom: 2px solid #214E41;
		padding-bottom: 4px;
		transition: 0.6s;
		&:hover{
			color: #048a5e;
			border-bottom: 2px solid #048a5e;
		}
	}
}

// for employers style end



// proudly-backed-by style start

.proudly-backed-by{
	padding-top: 120px;
}

.proudly-backed-by__content{

	.proudly-backed-by__title{
		@extend %title-section-style;
		text-align: center;
		margin-bottom: 110px;
	}

	.proudly-backed-by__list{
		display: flex;
		justify-content: space-between;
	}

	.list__right-arrow,.list__left-arrow{
		display: flex;
		justify-content: center;
		align-items: center;
	}


}

.list-box::after{
	content: '';
	display: block;
	width:90%;
	height: 1px;
	background-color: rgba(56, 52, 52, 0.37);
	margin: 0 auto;
	margin-top: 125px;
	margin-bottom: 120px;
}

.proudly-backed-by__cards{
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 120px;

	.proudly-backed-by__cards-item{
		width: 355px / 1200px * 100%;
		img{
			margin-bottom: 20px;
			max-width: 100%;
			height: auto
		}
		
		.item__signature-img{
			@include raleway-font(400,11px,18px,#43806C);
			letter-spacing: 0.05px;
			text-transform: uppercase;
			margin-bottom: 15px;
		}

		.item__text{
			@include roboto-font(700,20px,26px,#214E41)
		}
		
	}
}

@media(max-width:768px){

	.proudly-backed-by{
		padding-top: 80px;
	}

	.proudly-backed-by__content{
		.list__left-arrow,.list__right-arrow{
			display: none;
			
		}
		.proudly-backed-by__list{
			flex-wrap: wrap;
		}
		
		.last-it{
			width: 100%;
		}

		.proudly-backed-by__title{
			font-size: 34px;
			margin-bottom: 90px;
		}

	}
	.backed-by__list-item{
		width: 45%;
		text-align: center;

	}

	.backed-by__list-item:not(:nth-child(6)){
		margin-bottom: 20px;

	}

	.proudly-backed-by__cards{

		.proudly-backed-by__cards-item{
			width: 100%;
			img{
				width: 100%;
			}
		}
		.proudly-backed-by__cards-item:not(:last-child){
			margin-bottom: 45px;
		}
	}
}

@media(max-width:320px){
	.backed-by__list-item{
		width: 100%;
	}
	.backed-by__list-item:not(:nth-child(6)){
		margin-bottom:35px;
	}
}

// proudly-backed-by style end 



// ready to explore style start

.ready-to-explore__content{
	display: flex;
}

.ready-to-explore__pic,.ready-to-explore__text{
	width: 50%;
}

.ready-to-explore__pic{
	img{
		width: 100%;
		height: auto;
	}
}
.ready-to-explore__text{
	background-color: #E3EEED;
	padding-left: 120px;
	padding-top: 144px;
	padding-bottom: 35px;
	.ready__text-container{
		max-width:423px;
		>h2{
			@extend %title-section-style;
		}
		>h2:first-child{
			margin-bottom: 46px;
		}
		.rady-talk{
			margin-bottom: 60px;
		}
		.ready-button{
			@extend %button-text-style;
			padding: 13px 24px;
			&:hover{
				background-color: #23654f;
			}
		
			&:active{
				background-color: #0c4230;
				transition: 0.2s;
			}
		}
	}
}

@media(max-width:1200px){
	.ready-to-explore__content{
		flex-direction: column;
	}

	.ready-to-explore__pic,.ready-to-explore__text{
		width: 100%;
	}

	.ready-to-explore__text{
		padding: 0;
		padding: 25px 15px;
		.ready__text-container{
			max-width: 100%;
			text-align: center;
		}
	}
}

@media(max-width:375px){
	.ready-to-explore__text{
		.ready__text-container{
			>h2{
				font-size: 30px;
			}
		}
	}
}

// ready to explore style end



// footer style start

.footer{
	background-color:  #214E41;
	padding-top: 100px;
	padding-bottom: 50px;
}

.footer__links{
	display: flex;
	justify-content: space-between;
}

.footer__logo-and-nav{
	display: flex;
	justify-content: space-between;

	.footer__logo-box{
		margin-right: 105px;
	}

	.join-menu-box{
		margin-right: 115px;
	}

	.footer__join-list,.footer__company-list{
		>li:first-child{
			@include raleway-font(700,13px,24px,white);
			letter-spacing: 0.02px;
			text-transform: uppercase;	
		}

		>li:not(:last-child){
			margin-bottom: 15px;
		}

		>li a{
			@include raleway-font(400,16px,27px,white);
		}
	}
}

.footer__social{
	width: 355px;
	.footer__social-links{
		display: flex;
	}

	.footer__social-title{
		@include raleway-font(400,13px,24px,white);
		letter-spacing: 0.02px;
		text-transform: uppercase;
		margin-bottom: 13px;
	}

	.footer__social-text{
		@include raleway-font(400,14px,24px,white);
		letter-spacing: 0.02px;
		margin-bottom: 16px;
	}

	.footer__social-form{
		display: flex;
		input{
			background-color: transparent;
			max-width: 302px;
			height: 52px;
			border: 1px solid #FFFFFF;
			color: white;
			padding-left: 15px;
			flex: 1 1 auto;
		}

		input::placeholder{
			@include raleway-font(400,14px,24px,white);
			letter-spacing: 0.02px;
			padding-top: 15px;
			
		}
		
		button{
			background-color: white;
			border: none;
			height: 52px;
			width: 53px;
			transition: 0.6s;
		}

		button:hover{
			background-color: rgba(251, 246, 246, 0.893);
		}

		.footer__adop-button{
			display: none;
		}
	}

	.footer__form-box{
		margin-bottom: 36px;
	}

	.footer__social-links{
		.social-ico:not(:last-child){
			margin-right: 25px;
		}
	}
}

.footer__pseudo-line::after{
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background-color: white;
	margin-top: 71px;
	margin-bottom: 73px;
}

@media(max-width:768px){
	.footer__links{
		flex-direction: column;
		text-align: center;
	}
	.footer__logo-and-nav{
		flex-wrap: wrap;

		.footer__logo-box{
			width: 100%;
			margin-right: 0;
			margin-bottom: 25px;
		}

		.join-menu-box,.company-menu-box{
			width: 50%;
			margin: 0;
			margin-bottom: 25px;
		}
		margin-bottom: 15px;
	}

	.footer__social{
		width: 100%;
		.footer__social-links{
			justify-content: center;
		}
	}

	.footer__social-form{
		justify-content: center;
		input{
			margin-bottom: 10px;
			width: 80%;
		}
	}
}



.footer__text{
	.footer__info{
		margin-bottom: 90px;
		p{
			@include raleway-font(400,14px,24px,white);
			letter-spacing: 0.02px;
		}
		p:not(:last-child){
			margin-bottom: 20px;
		}
	}

	.footer__copyright{
		display: flex;
		justify-content: space-between;
		.copyright-text,.privacy-text{
			@include raleway-font(400,14px,24px,#FFFFFF);
		}
	}
}

// footer style end